@media screen and (max-width: 991px) {
    body {
        main {
            .resume {
                .desktop-only {
                    display: none;
                }
            }

            .inner {
                .popup-gallery {
                    .magnific-img {
                        min-width: 90%;
                    }
                    .magnific-media {
                        min-width: 90%;
                    }
                }
            }
        }
        .back-top {
            width: 36px;
            height: 36px;
            right: 32px;
        }
    }
}

@media screen and (min-width: 992px) {
    body {
        main {
            .resume {
                .mobile-only {
                    display: none;
                }
            }
        }
    }
}
