$base-font-size: 16px;

@media (max-width: 1360px) {
    body {
        h1 {
            font-size: $base-font-size * 3.75; //60;
            letter-spacing: 5px;
        }

        h4 {
            font-size: $base-font-size * 1.25; //20px
        }
        h5 {
            font-size: $base-font-size * 1.125; //18px
            letter-spacing: 0.8px;
        }
        h6 {
            font-size: $base-font-size;
        }
    }
}

@media (max-width: 576px) {
    body {
        h1 {
            font-size: $base-font-size * 3; //48
        }
        h4 {
            font-size: $base-font-size * 1.125; //18px
        }
        h5 {
            font-size: $base-font-size; //16px
        }
        h6 {
            font-size: $base-font-size * 0.875; //14px
        }

        .container-fluid {
            nav {
                font-size: 18px;
                padding: 0px 30px;

                .img-logo {
                    padding: 0px;

                    .bager-bar {
                        display: block;

                        svg {
                            visibility: visible;
                        }
                    }
                }

                img:nth-of-type(1) {
                    display: none;
                }

                img:nth-of-type(2) {
                    display: block;
                }

                .menu {
                    width: 100%;
                    background-color: #ffffffa4;

                    position: absolute;
                    top: 105px;
                    left: 0px;

                    max-height: 0px;
                    overflow: hidden;
                    transition: max-height 1.5s;

                    li {
                        text-align: center;
                        padding: 8px 0px;
                        margin: 0px;

                        a {
                            color: $color-dark;
                        }
                    }
                }

                .menu.show {
                    max-height: 400px;
                    overflow: visible;
                }
            }

            .mySwiper {
                width: 100%;
                position: relative;

                .banner-title {
                    left: 55px;
                    top: 709px;
                }

                .swiper-slide {
                    img {
                        width: auto;
                        height: 1334px;
                    }
                }

                .my-pagination {
                    .my-pagination {
                        top: 666px;
                        left: 378px;
                    }
                }
            }
        }

        main {
            .bg-group {
                img {
                    width: 90%;
                }

                img:nth-child(1) {
                    left: 0px;
                }

                img:nth-child(3) {
                    width: 100%;
                    left: 0px;
                }
                img:nth-child(5) {
                    left: 72px;
                }
            }

            .container {
                #ABOUT,
                #SUBJECT,
                #SHOP,
                #SPACE,
                #NEWS,
                #INS,
                #CONTANT {
                    width: 100%;
                    margin: 105px 0px 0px 0px;
                    padding: 0px 17px;
                }

                #ABOUT {
                    img {
                        width: 75%;
                        height: 75%;
                    }

                    .about-img_1,
                    .about-img_2,
                    .about-img_3 {
                        width: 35%;
                        height: 35%;
                    }

                    .about-img_1 {
                        top: 180px;
                        left: 268px;
                    }

                    .about-img_2 {
                        width: 31%;
                        height: 12%;

                        top: 765px;
                        left: 290px;
                    }

                    .about-img_3 {
                        width: 30%;
                        height: 13%;

                        top: 1245px;
                        left: 328px;
                    }

                    :nth-of-type(1) .about-content {
                        margin: 10px 40px 0px 0px;
                    }

                    :nth-of-type(2) .about-content {
                        margin: 10px 90px 0px 0px;
                    }

                    :nth-of-type(3) .about-content {
                        margin: 15px 0px 0px 0px;
                    }
                }

                #SUBJECT {
                    .subject-gap {
                        margin: 0;
                    }

                    :nth-of-type(1) {
                        :nth-of-type(1) {
                            margin-left: 37px;
                        }
                        :nth-of-type(1) img {
                            width: 45%;
                        }

                        :nth-of-type(2) {
                            :nth-of-type(1) {
                                margin-left: 0px;
                            }

                            :nth-of-type(1) img,
                            :nth-of-type(2) img {
                                width: 80%;
                            }

                            :nth-of-type(1) img {
                                margin: -20px 0 0 0;
                            }

                            :nth-of-type(2) img {
                                margin: 200px 0 0 0;
                            }
                        }
                    }

                    h6 {
                        display: none;
                    }

                    .subject-title_1 {
                        margin-top: 0px;
                    }

                    .subject-title_2,
                    .subject-title_3 {
                        margin-top: 12px;
                    }
                }

                #SHOP {
                    .shop-content {
                        padding: 25px 0px 25px 0px;
                        justify-content: center;

                        .goods-select_1 {
                            margin: 0;
                        }

                        .shopimg-row {
                            display: none;
                        }
                    }
                }

                #NEWS {
                    .news-group {
                        img:nth-of-type(2) {
                            top: 150px;
                            left: 110px;
                        }

                        img:nth-of-type(3),
                        img:nth-of-type(4),
                        img:nth-of-type(5),
                        img:nth-of-type(6) {
                            display: none;
                        }
                    }
                }

                #SPACE {
                    .space-swiper {
                        left: 0px;
                        top: 3120px;
                        width: 576px;
                    }
                }

                #INS {
                    .ins-right {
                        a {
                            display: none;
                        }

                        .ins-content {
                            padding-left: 40px;
                        }
                    }

                    .ins-left {
                        padding: 10px 28px;
                    }
                }

                #CONTANT {
                    .socil-link {
                        padding-left: 9px;

                        a {
                            width: 153px;
                            padding-left: 27px;
                        }
                    }

                    .Info {
                        a {
                            img {
                                top: 590px;
                                left: -48px;
                            }
                        }
                    }

                    iframe {
                        margin: 48px auto 0px auto;
                        width: 430px;
                    }
                }
            }
        }

        footer {
            height: 130px;
            margin-top: 400px;
        }
    }
}
