@media (max-width: 768px) {
    .container-fluid {
        nav {
            font-size: 18px;
            padding: 0px 50px;
        }

        .mySwiper {
            .banner-title {
                left: 75px;
                top: 400px;

                img {
                    width: 80%;
                }

                img:nth-child(2) {
                    top: 160px;
                }
            }
            .banner-title::after {
                width: 90%;
            }

            .my-pagination {
                top: 666px;
                left: 378px;
            }
        }
    }

    main {
        .bg-group {
            img {
                width: 50%;
            }
        }
        .container {
            max-width: 750px;

            #ABOUT {
                margin-top: 50px;

                img {
                    width: 60%;
                }

                .about-gap {
                    margin-top: 70px;
                }

                .about-img_1,
                .about-img_2,
                .about-img_3 {
                    width: 20%;
                }

                .about-img_1 {
                    top: 130px;
                    left: 155px;
                }

                .about-img_2 {
                    top: 368px;
                    left: 554px;
                }

                .about-img_3 {
                    width: 16%;
                    top: 696px;
                    left: 224px;
                }
            }

            #SUBJECT {
                .subject-gap {
                    margin: 0px 17px;
                }

                .subject-title_1,
                .subject-title_2,
                .subject-title_3 {
                    width: 90%;
                }

                img {
                    width: 90%;
                }

                .subject-content {
                    width: 80%;
                }
            }
            #SHOP {
                .shop-content {
                    .shopimg-row {
                        display: none;
                    }

                    .goods-select_1 {
                        margin: 0px 70px;
                    }
                }
            }

            #SPACE {
                .space-swiper {
                    top: 2243px;
                    left: 0px;

                    width: 768px;

                    .swiper-slide {
                        img {
                            width: 668px;
                        }
                    }
                }
            }

            #NEWS {
                .newsgroup {
                    img:nth-child(5),
                    img:nth-child(6) {
                        display: none;
                    }
                }
            }
            #INS {
                .ins-left {
                    padding: 0px;

                    img {
                        width: 20%;
                        padding: 0px;
                    }

                    img:nth-child(1) {
                        margin-left: 50px;
                    }
                }

                .ins-right {
                    img {
                        margin: 0px 85px;
                    }

                    a {
                        display: none;
                    }
                    .ins-content {
                        img {
                            margin: 0px;
                        }
                    }
                }
            }

            #CONTANT {
                .Info {
                    a {
                        img {
                            width: 400px;
                            height: 267px;

                            top: 315px;
                            left: -25px;
                        }
                    }
                }
                iframe {
                    width: 250px;
                    height: 250px;
                    margin-top: 76px;
                }
            }
        }
    }

    footer {
        margin-top: 172px;
    }
}
// media (max-width: 768px)---- end