@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");


$font-family: "Noto Sans TC", "Noto Serif TC", "Microsoft JhengHei", "Noto Sans Mono", "Josefin Slab", "impact";

$color-dark: #adbcc4;
$color-light: #ced7db;
$title-color: #6a8594;
$text-color: #7a91a1;

$base-font-size: 16px;

%font-root {
    padding: 0;
    margin: 0;
    font-family: $font-family;
    color: $text-color;
}

%all-clear {
    text-decoration: none;
    border: none;
}

body {
    @extend %font-root;

    a {
        @extend %font-root;
        @extend %all-clear;

        &:hover {
            color: $color-light;
            padding: 4px;
        }
    }

    img {
        @extend %all-clear;
    }

    ol,
    ul,
    li {
        list-style: none;
        margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend %font-root;
    }
}
